/* color 
 * #ff4949 RED
 * #ffc82c YELLOW
 * #0066ff BLUE
 * #009EEB BLUE2
 * #1fb6ff BLUE3
 * #7e5bef VIOLET
 * #E5EAEF GREY
 * #525d69 DARKGREY
*/

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

body {
	width: 100%;
	height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: #ffddee;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
	box-shadow: none;
	outline: none;
}

.file-upload #file-selection-button {
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  padding: 0;
  opacity: 0;
}

.file-upload {
  display: flex;
  justify-content: center;
  align-items: center;
}


.title {
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  padding: 40px 0 80px;
}

.title h1 {
  margin-bottom: 48px;
}

.title p {
  font-size: 20px;
}

.upload-label {
  display: block;
  width: 180px;
  height: 48px;
  border-radius: 5px;
  background-color: #fff;
  color: #0066ff;
  font-size: 24px;
  font-weight: 500;
  line-height: 2;
  text-align: center;
  transition: opacity 250ms ease-in-out,
  color 250ms ease-in-out,
  background-color 250ms ease-in-out;
}

.upload-label:hover {
  opacity: 0.6;
}

.upload-label:active {
  color: #fff;
  background-color:#ffc82c;
  opacity: 1;
}

.upload-button {
  display: block;
  width: 180px;
  height: 48px;
  border: none;
  border-radius: 5px;
  background-color: #0066ff;
  font-size: 24px;
  font-weight: 500;
  line-height: 2;
  color: #fff;
  transition: opacity 250ms ease-in-out,
  color 250ms ease-in-out,
  background-color 250ms ease-in-out;
}

.upload-button:hover {
  opacity: 0.6;
}

.upload-button:active {
    color: #fff;
    background-color:#ffc82c;
    opacity: 1;
}